/*
Colour Pallet: 
    Darker-Blue: #1c3d5d
    Graph-bars: #3a7ebf
    Light-Blue: #98bde0
*/

* {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font: normal normal 1rem Open Sans, Lucida Grande, Lucida Sans Unicode, Helvetica Neue, Arial, sans-serif;
}

  /****************/
 /* Text Styling */
/****************/
h1 { 
    font-size: 2.5rem;
    color: white;
}

h2 {
    font-size: 1.5rem;
    color: #1c3d5d
}

h3 { 
    font-size: 1rem;
    color: white;
}


.main-grid {
    display: grid; 
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 150px 100px 400px 400px 50px;
    grid-template-areas:
    "index-header index-header index-header index-header"
    ". index-sent index-sent ."
    ". index-data1 index-data2 ."
    ". index-data3 index-data4 ."
    ". index-footer index-footer .";
    grid-gap: 30px;
}

.header {
    grid-area: index-header;

}

.nested-header {
    grid-area: index-header;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr 30px;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
} 

.nested-header h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}

.nested-header .header-aside {
    padding-top: 10px;
    grid-column: 3/4;
    grid-row: 1/3;
    color: white;
    text-align: right;
}

.nested-header .header-nav {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    color: white;
    background-color: rgba(211, 211, 211, 0.4);
}

.header-aside h3 {
    padding-top: 10px;
}

.header-aside {
    padding: 10px;
}

.sentiment {
    grid-area: index-sent;
    text-align: center;
}

.sentiment p {
    font-size: 3rem; 
    font-weight: bold;
}
.data-box-1 {
    grid-area: index-data1;
}

.data-box-2 {
    grid-area: index-data2;
}

.data-box-3 {
    grid-area: index-data3
}

.data-box-4 {
    grid-area: index-data4;
}

.footer {
    grid-area: index-footer
}

.nested-grid { 
    display: grid;
    grid-template-columns: 1fr 450px 1fr;
    grid-template-rows: 25px 350px;
    grid-gap: 15px;
    background-color: rgba(211, 211, 211, 0.4);
    padding: 15px;
}

.nested-grid h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    justify-content: center;
}

.nested-grid img {
    grid-column: 2/3;
    grid-row: 2/3;
}

.nested-grid table {
    grid-column: 2/3;
    grid-row: 2/3;
}

.nested-grid iframe {
    grid-column: 2/3;
    grid-row: 2/3;
}

img {
    width: 100%; 
    height: 100%;
}

table { 
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-right: 1px white;
    border-left: 1px white;
    border-top: 3px solid #98bde0;
    border-bottom: 3px solid #98bde0;
}

th, td {
    padding: 8px 16px;
    border:1px white;
    text-align: center;
}

iframe {
    width: 100%;
    height: 100%
}

i { 
  font-size: 60px; 
  padding-right: 10px;
}